
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Authorization/Login">Login</a>
<a href="/Authorization/Logout">Logout</a>
<a href="/Administration/UserManagement/Index">Manage Users</a>
