.menuitem-action {
    border:0px solid transparent;
}

.header-container {
    padding-top: 25px; 
    padding-bottom: 3px;
}

.header-navigation-link {
    border:0px solid transparent; 
}

.header-navigation-first-link {
    border:0px solid transparent; 
    padding-left: 15px
}

.header-top-level-button {
    color: #989898;
    border:0px solid transparent; 
}

.header-title {
    border:0px solid transparent;
    color: #585858
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

.inputBox {
    margin: 10% auto;
    width: 200px;
}