@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="border-width: 0px;">
    <tr>
        <td>
            <div style="border-width: 1px; border-color: black; border-style: solid">
                @Html.Action("GetCategories", "Home")
            </div>
        </td>

        <td>
            @RenderBody()
        </td>
    </tr>
</table>

