L3/HomeWork/HomeTask/bin/
L3/HomeWork/.vs/
L3/HomeWork/HomeTask/obj/
L3/HomeWork/packages/
L4/Home Work/L4HomeWork/packages/
L4/Home Work/L4HomeWork/L4HomeWork/obj/
L4/Home Work/L4HomeWork/L4HomeWork/bin/
L6/Home Work/L4HomeWork/L4HomeWork/bin/
L6/Home Work/L4HomeWork/packages/
L6/Home Work/L4HomeWork/L4HomeWork/obj/
L7/Kuchuk Siarhei-Test-6/CW1/obj/
L7/Kuchuk Siarhei-Test-6/packages/
L7/Kuchuk Siarhei-Test-6/CW1/bin/
L5/L/L5/L5/bin/
L5/L/L5/packages/
L7/Lecture/WebApplication1/packages/
L7/Lecture/WebApplication1/WebApplication1/obj/
L7/Lecture/WebApplication1/WebApplication1/bin/
L5/L/L5/L5/obj/
