L3/HomeWork/HomeTask/bin/
L3/HomeWork/.vs/
L3/HomeWork/HomeTask/obj/
L3/HomeWork/packages/
L4/Home Work/L4HomeWork/packages/
L4/Home Work/L4HomeWork/L4HomeWork/obj/
L4/Home Work/L4HomeWork/L4HomeWork/bin/
L6/Home Work/L4HomeWork/L4HomeWork/bin/
L6/Home Work/L4HomeWork/packages/
L6/Home Work/L4HomeWork/L4HomeWork/obj/
