
@{
    ViewBag.Title = "Index";
}

<h2>CARS SPA</h2>

<table id="cars">
    @*if(model != null)
        foreach
        <tr>
            <td>${Model}</td>
            <td>${Price}</td>
        </tr>*@
</table>

<script id="carsTmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${Model}</td>
        <td>${Price}</td>
        <td>
            <input type="button" class="btn btn-danger deleteBtn" value="Delete" id="${Id}" />
        </td>
    </tr>
</script>

<style>
    .dialog {
        display: none
    }
</style>

<input type="button" id="ShowAddDialogBtn" class="btn btn-primary" value="Add"/>

<div id="AddCarDialog" class="dialog ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
    <input type="text" id="Model" placeholder="Model" /> <br />
    <input type="text" id="Price" placeholder="Price" /> <br />
</div>

