
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<section style="display: block;">
    <div class="ChangeColor" style="float: left; width: 100px; background: yellow">Yellow</div>
    <div class="ChangeColor" style="float: left; width: 100px; background: blue">Blue</div>
    <div class="ChangeColor" style="float: left; width: 100px; background: green">Green</div>
</section>

<script src="~/Scripts/ColorFun.js"></script>
