
@{
    ViewBag.Title = "Index";
}

<h2>CARS SPA</h2>

<table id="cars">
    @*if(model != null)
    foreach
    <tr>
        <td>${Model}</td>
        <td>${Price}</td>
    </tr>*@
</table>

<div>
    <input type="text" id="Model" placeholder="Model" /> <br />
    <input type="text" id="Price" placeholder="Price" /> <br />
    <input type="button" id="addBtn" class="btn btn-primary" value="Add"/>
</div>

<script id="carsTmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${Model}</td>
        <td>${Price}</td>
        <td>
            <input type="button" class="btn btn-danger deleteBtn" value="Delete" id="${Id}" />
        </td>
    </tr>
</script>