
@{
    ViewBag.Title = "Index";
}

<h2>Your applications SPAs</h2>

<a href="/Cars" class="btn btn-primary">CARS SPA</a>
<a href="/Auction" class="btn btn-primary">AUCTION SPA</a>
<a href="/Forum" class="btn btn-primary">FORUM SPA</a>

