@using HomeTask.Models

@{
    ViewBag.Title = "About";
}

<h2>About</h2>

@{
    if (HttpContext.Current.Request.Cookies[CookieHelper.CookieName] != null &&
        HttpContext.Current.Request.Cookies[CookieHelper.CookieName][nameof(HomeTask.Models.User.Name)] != null)
    {
        <div>
            Hello, darling @HttpContext.Current.Request.Cookies[CookieHelper.CookieName][nameof(HomeTask.Models.User.Name)]!
        </div>
    }
}
