@using HomeTask.Models

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<div>
    Hello, darling @HttpContext.Current.Request.Cookies[CookieHelper.CookieName][nameof(HomeTask.Models.User.Name)]!
</div>