@using HomeTask.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    Hello, darling @HttpContext.Current.Request.Cookies[CookieHelper.CookieName][nameof(HomeTask.Models.User.Name)]!
</div>

Pages: <br/>
<a href="/Home/About">About</a><br/>
<a href="/Home/Home">Home</a><br/>
<a href="/Home/Contacts">Contacts</a><br />